#login-form,#register-form {
  margin: .5em auto;
  padding: 0 .5em;
}

.input-spacer {
  margin: .2em 0;
}

.user-card{
  position: relative;
}

.chat-id{
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 18px;
}

.prv-message {
  position: absolute;
  left: 5px;
  top: 30px;
  font-size: 12px;
}

.no-padding {
  padding: 0 !important;
}
